@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

body.node--type-event .node__content .field {
    display: flex;
    margin-bottom: 0.5em;
}

body.node--type-event .node__content .field .field__item {
    word-break: break-word;
}

body.node--type-event .node__content .field .field__label {
    font-weight: 900;
}

body.node--type-event .node__content .field .field__label::after {
    content: ':';
}

@media screen and (min-width: 768px) {
    body.node--type-event .node__content .field .field__item {
       flex-basis: 85%;
    }
    
    body.node--type-event .node__content .field .field__label {
        flex-basis: 15%;
    }    
}
@media screen and (max-width: 767px) {
    body.node--type-event .node__content .field {
        gap: 0.5em;
    }
}

.block-views-blockworkshop-events-block-1 .list{
    padding: 0 5% 25px;
}

.block-views-blockworkshop-events-block-1 .list h3{
    padding: 10px 0;
    margin: 0;
}

.block-views-blockworkshop-events-block-1 .list h3 a {
    color:#c33a3a;
    font-weight:600;
}

.block-views-blockworkshop-events-block-1 .list p{
    padding: 0;
    margin-bottom: 0;
    display: inline;
}

.libcal-date {
    color:white;
    background:#c33a3a;
    float:left;
    width:85px;
    height:85px;
    text-align:center;
    margin-right:20px;
    
}
.libcal-date .datetime {
    margin:0 auto;
    white-space: pre-line;
    word-spacing: 100px;
    font-weight:600;
    line-height:1.2em;
    margin-top:20%;
    display:block;
    font-size:1.2em;
}
.libcal-cal {
    display:none;
}
.libcal-list, .libcal-cal-list {
    margin-bottom:15px;
    font-weight:600;
    font-size:1.1em;
}

.view-workshop-events .list {
    padding-bottom:15px !important;
}

.list.workshops h2 a {
    font-size:.9em;
    color:#c33a3a;

}

.view-workshop-events .views-label, .views-label-field-seats .views-label {
    font-weight:bold;
    display:inline;
}

.views-field-field-libcal-categories .field-content, .views-field-field-seats .field-content {
    display:inline;
}

.list.workshops h2 {
    padding-bottom:0px!important;

}
.list.workshops p {
    padding-bottom:0 !important;
    margin-bottom:0;
    font-size:1em;
    display:inline;
}

.views-more-link {
    display:inline;
    color:#c33a3a;

}

.reg-btn {
    margin:15px 0;
    display:block;
}
.workshop-full a {
    color:black;
    padding:5px 15px;
    margin:10px 0;
    display:inline-block;
    background:lightyellow;
}

.reg-btn a {
    color:white;
    margin:10px 0;
    display:inline-block;

  
}
.reg-btn a:hover span, .workshop-full a:hover {
    color:white;
    background:#337ab7;
}

.yellow {
    background:lightyellow;
    color:black;
    padding:5px 15px; 

}

.green {
    background:green;
    color:white;
    padding:5px 15px; 

}


#s-lc-event-desc {
    display:inline;
    max-width:750px;
}

.bef-exposed-form select {
    padding:2px 5px !important;
}

.bef-exposed-form label {
    color:transparent;
}

.form-type-textfield label {
    color:#272727;
}

.node--type-event {
    .row {
        margin-left:0;
    }
    .view-header {
        width:100%;
        float:left;
        display:block;
    }
    .more-link {
        float:right !important;
        display:block;
        clear:both !important;
        background:#002a5c !important;
        color:white;
   }

   .more-link:hover {
        background:#337ab7 !important;        
   }

   .views-field-body p {
    margin-bottom:5px !important;
   }

   .views-field-body ul {
     margin-bottom: 5px !important;
     font-size:1em !important;
   }
   .views-field-body h4 {
    padding:5px 0 !important;
    margin:2.5px 0 !important;
   }
}
